[user]
	name = Steven Lu
	email = tacticalazn@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[alias]
   l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
   ll = log --stat --abbrev-commit
   alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
   d = diff --color-words
   s = status
[color]
   ui = auto
   interactive = auto
