[user]
	name = Steven Lu
	email = tacticalazn@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[alias]
   l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
   ll = log --stat --abbrev-commit
   alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
   d = diff --color-words
   s = status
   b = branch
   f = fetch
   ff = fetch --all
   rr = reset --hard
   aa = add --all
   c = commit -a
   cc = commit -a --amend
[color]
   ui = auto
   interactive = auto
[push]
	default = simple
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
